{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "es2021": true,
    "es6": true
  },
  "rules": {
    "no-console":0,
    // "no-alert": "off"
  }
}
